:root{
    --bg-color: #E3E4D5;
    --wine-color:#d55349;
    --text-color: #000000;
}
html{
    font-family: 'Avenir', Helvetica, sans-serif;
}
body{
    margin: 0px;
    background: var(--bg-color);
    font-family: 'Avenir';
    width: 90%;
    max-width: 900px;
    margin: 2em auto;
}
main{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-items: center;

}
article{
    display: grid;
    position: relative;
    width: 60%;
    grid-template-columns:  1fr 2fr;
    grid-template-rows: 1fr 1fr 4fr;
}
h1{
    display: grid;
}

.navi{

    width: 1021px;
    height: auto;
    /* margin-left: 491px;
    margin-top: 188px; */
    background: var(--wine-color);
    float: left;
    writing-mode: vertical-rl;
    grid-row: 2/3;
    grid-column: 2/3;

}
.name-box{
    position: absolute;
    font-size: 3rem;
    text-align: center;
    
    /* font-weight: ; */
    left: 0px;
    top: 0;
    transform: translate(-80%, 25%);
    width: 468px;
    height: 468px;
    border: 10px solid #d55349;
    grid-row: 1/3;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: (7, 1fr);
    grid-template-rows: (6, 1fr);
}

.jensimmons-picture{
    width: 234px;
    height: 798px;
    mix-blend-mode: overlay;
    grid-row: 2/4;
    grid-column: 2/3;
}

ul{
    padding: 1rem; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.8675rem;
}
.body-copy{
    width: 597px;
    height: 322px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 33px;
    color: #000000;
    grid-row: 3/4;
    grid-column: 2/3;
    justify-self: right;
    padding-right: 3.8125rem;
}
.cap{
    text-transform: uppercase;
    font-weight: 800;
    /* font-size: calc(1.6rem + 1.6vw); */
}
.j{
    grid-column: 2;
    grid-row: 1;
}
.e{
    grid-column: 3;
    grid-row: 1;
}
.n{
    grid-column: 4;
    grid-row: 1;
}
.s{
    grid-column: 3;
    grid-row: 2;
}
.i{
    grid-column: 4;
    grid-row: 2;
}
.m{
    grid-column: 3;
    grid-row: 3;
}
.m1{
    grid-column: 4;
    grid-row: 3;
}
.o{
    grid-column: 1;
    grid-row: 4;
}
.n1{
    grid-column: 4;
    grid-row: 4;
}
.s1{
    grid-column: 5;
    grid-row: 5;
}